*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #cacccf;
  padding: 50px;

  @media (max-width: 500px) {
    padding: 30px;
  }
}

#main-container {
  background-color: #f5f5f7;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  border-radius: 10px;
}

#container-1 {
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

#container-2 {
  padding: 10px 5px 40px 5px;
}

#search {
  &-bar {
    border: none;
    width: 80%;
    padding: 0 16px;
  }

  &-btn {
    border: none;
    background-color: transparent;
    width: 10%;
  }
}

#today {
  &-forecast {
    margin-top: 4.5rem;
  }
  &-temperature {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 3rem;
    width: 100%;
  }
  &-date {
    font-size: 1rem;
  }
}

.seven-day {
  &-box {
    width: 100%;
    padding: 10px 30px;
    margin: 0 auto;
  }
  &-container {
    margin: 0;
    width: 99%;
  }
  &-block {
    margin-bottom: 10px;
    padding: 0;

    &-content {
      background-color: #ffffff;
      border-radius: 5px;
    }
  }
}

#degree-box {
  width: 99%;
  margin: 0;
  padding: 0 35px 20px 35px;
}

.temp-btn {
  border: 1px solid black;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-left: 10px;
}

.today-highlight {
  &-container {
    margin: 0;
    width: 99%;

    & h2 {
      font-size: 1.2rem;
      width: 100%;
      padding: 15px 30px 25px 30px;
    }
  }

  &-box {
    margin: 0;
    padding: 10px 15px;
    width: 100%;
  }

  &-block {
    margin-bottom: 1rem;

    @media (max-width: 500px) {
      padding: 0 10px 0 10px;
    }

    &-content {
      background-color: #ffffff;
      border-radius: 5px;
      height: 150px;

      @media (max-width: 500px) {
        margin-left: 0.5px !important;
        margin-right: 0.5px !important;
        height: 120px;
      }
    }
  }

  &-title {
    font-size: 1.1rem;
    color: #cacccf;

    @media (max-width: 500px) {
      font-size: 0.7rem;
    }
  }

  &-info {
    font-size: 2.3rem;

    @media (max-width: 500px) {
      font-size: 1.4rem;
    }

    &-sun {
      font-size: 1.2rem;

      @media (max-width: 500px) {
        font-size: 0.8rem;
      }
    }
  }
}

.fa-sun {
  color: #fbdb5b;
}

.fa-cloud-rain {
  color: rgb(0, 0, 173);
}

.fa-cloud {
  color: #cacccf;
}

.arrow-sun {
  color: #fbdb5b;
  font-size: 2rem;

  @media (max-width: 500px) {
    font-size: 0.8rem;
  }
}

.weather-icon {
  &-large {
    font-size: 8rem;
  }
  &-small {
    font-size: 3rem;
  }
}

.active {
  background-color: black;
  color: white;
}

#mph {
  font-size: 1rem;
}

.double-dash {
  font-size: 1rem;
}
